{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
{% trans "Confirm Email Address" %}
{% endblock head_title %}
{% url 'account_confirm_email' confirmation.key as action_url %}
{% url 'account_login' as login_url %}
{% block content %}
<div class="container-lg mt-3 text-center">
    <h2>{% trans "Confirm Email Address" %}</h2>
    {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    {% if can_confirm %}
    {% blocktrans with confirmation.email_address.email as email %}
    <p>Please confirm that {{ email }} is an email address for user {{ user_display }}.</p>
    {% endblocktrans %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        <button type="submit" class="btn btn-primary">Verify My Email</button>
    </form>
    {% else %}
    {% blocktrans %}
    <p>Unable to confirm {{ email }} because it is already confirmed by a different account.</p>
    {% endblocktrans %}
    {% endif %}
    {% else %}
    {% blocktrans %}
    <p>This email confirmation link expired, invalid or already verified. </p>
    <p>You can check if you can activate the account by trying to log in.</p>
    <a href="{{ login_url }}" type="button" class="btn btn-primary">Sign In</a>
    {% endblocktrans %}
    {% endif %}
</div>
{% endblock content %}