{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{%block head_title %}
{% trans "Sign In" %}
{% endblock head_title %}
{%block content %}

<div class="container-lg">
    <div class="col-md-8 offset-md-2">
        {% if form.errors %}
        <div class="row mt-3">
            <div class="col-md-8 mt-3 offset-md-2">
                <h5>Error</h5>
                <ul class="list-group errorlist">
                    {% for key, value in form.errors.items %}
                    <li class="list-group-item">{% if key == 'password1' or key == 'password2' %} Password
                        {% elif key != '__all__' %} {{ key.capitalize }}
                        {% endif %} {{ value }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>{% trans "Login" %}</h3>

                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.login.id_for_label }}">Username</label>
                        {{ form.login|attr:"placeholder: Enter your username"|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" for="{{ form.remember.id_for_label }}">
                            {{ form.remember }} {{ form.remember.label }}
                        </label>
                    </div>
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    <button type="submit" class="btn btn-primary">{% trans "Log In" %}</button>
                </form>

                <p class="my-2"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
                <p><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></p>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}