{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load allauth %}
{% trans "Enter New Password" %}
{% block content %}

<div class="container-lg text-center">
    {% if token_fail %}
    <h2>{% trans "Bad Token" %}</h2>
    {% else %}
    <h2>{% trans "Enter New Password" %}</h2>
    {% endif %}
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    {% blocktrans %}
    <p class="fw-bold">The password reset link is expired or invalid. Please request a <a href="{{ passwd_reset_url }}">new password
            reset link</a>.</p>
    {% endblocktrans %}
    {% else %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        <div>
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            {{ form.password1|attr:"placeholder: Enter your new password"|add_class:"form-control" }}
        </div>
        <div>
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            {{ form.password2|attr:"placeholder: Confirm your new password"|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary mt-2">Change my password</button>
    </form>
    {% endif %}
</div>

{% endblock %}