{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_title %}
{% trans "Signup" %}
{% endblock %}
{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>{% trans "Sign Up" %}</h2>
            <p>{% blocktrans %}
                Welcome to the Anatolian B&M. Please create an account to take advantage of our services.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if form.errors %}
            <div class="row">
                <h5>Errors :</h5>
                <ul class="list-group errorlist">
                    {% for key, value in form.errors.items %}
                    <li class="list-group-item">{% if key == 'password1' or key == 'password2' %} Password
                        {% elif key != '__all__' %} {{ key.capitalize }}
                        {% endif %} : {{ value }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div>
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div>
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                </div>
                <div>
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div>
                    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    {{ form.password1|attr:"placeholder: Enter your password"|add_class:"form-control" }}
                </div>
                <div>
                    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    {{ form.password2|attr:"placeholder: Confirm your password"|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}