{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-lg">
    <div class="card mb-2 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-4">
                <img src="{% static 'images/company-logo.png' %}" class="img-fluid rounded" alt="business-logo"
                    style="height: 100%;">
            </div>
            <div class="col-sm-8">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">Discover the Heart of Turkish Cuisine</h2>
                    <p class="card-text align-self-start">Welcome to Anatolian Bistro & Market, where tradition meets
                        taste. Our
                        restaurant and market are dedicated to bringing the authentic flavors of Anatolia to your table.
                        We offer a unique culinary experience that combines the warmth
                        of Turkish hospitality with the richness of its culinary heritage.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-5 order-sm-1">
                <img src="{% static 'images/menu.jpg' %}" class="img-fluid rounded" alt="menu" style="height: 100%;">
            </div>
            <div class="col-sm-7 order-sm-0">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">A Culinary Journey Through Anatolia</h2>
                    <p class="card-text">Our menu is a celebration of traditional Turkish dishes, prepared with the
                        finest ingredients and a modern touch. From tender kebabs to mouthwatering mezes, every dish is
                        crafted to perfection by our skilled chefs.
                    </p>
                    <button type="button" class="btn btn-primary" style="max-width: 140px;">Reserve a
                        Table</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-4">
                <img src="{% static 'images/market.jpg' %}" class="img-fluid rounded" alt="market"
                    style="height: 100%;">
            </div>
            <div class="col-sm-8">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">Bringing Anatolia to Your Home</h2>
                    <p class="card-text align-self-start">Explore our market, where you can find a curated selection of
                        authentic Turkish products. Whether you're looking to recreate your favorite dishes at home or
                        discover new ingredients, our market has everything you need.
                    </p>
                    <button type="button" class="btn btn-primary" style="max-width: 170px;">Check our products</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card_text">{{ post.excerpt }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">{% endif %} {% endfor %}</div>
        </div> -->
    <!-- {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                    &laquo; PREV</a>
            </li>
            {% endif %} {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                    NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %} -->

    <!-- index.html content ends here -->
    {% endblock %}