{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-lg">
    <div class="card mb-2 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-4">
                <img src="{% static 'images/company-logo.png' %}" class="img-fluid rounded" alt="business-logo"
                    style="height: 100%;">
            </div>
            <div class="col-sm-8">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">Discover the Heart of Turkish Cuisine</h2>
                    <p class="card-text align-self-start">Welcome to Anatolian Bistro & Market, where tradition meets
                        taste. Our
                        restaurant and market are dedicated to bringing the authentic flavors of Anatolia to your table.
                        We offer a unique culinary experience that combines the warmth
                        of Turkish hospitality with the richness of its culinary heritage.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-4 order-sm-1">
                <img src="{% static 'images/menu.jpg' %}" class="img-fluid rounded" alt="menu" style="height: 100%;">
            </div>
            <div class="col-sm-8 order-sm-0">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">A Culinary Journey Through Anatolia</h2>
                    <p class="card-text">Our menu is a celebration of traditional Turkish dishes, prepared with the
                        finest ingredients and a modern touch. From tender kebabs to mouthwatering mezes, every dish is
                        crafted to perfection by our skilled chefs.
                    </p>
                    <a href="{% url 'book' %}" class="btn btn-primary" style="max-width: 140px;">Reserve a
                        table</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-4">
                <img src="{% static 'images/market.jpg' %}" class="img-fluid rounded" alt="market"
                    style="height: 100%;">
            </div>
            <div class="col-sm-8">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">Bringing Anatolia to Your Home</h2>
                    <p class="card-text align-self-start">Explore our market, where you can find a curated selection of
                        authentic Turkish products. Whether you're looking to recreate your favorite dishes at home or
                        discover new ingredients, our market has everything you need.
                    </p>
                    <a href="{% url 'shop' %}" class="btn btn-primary" style="max-width: 170px;">Check our
                        products</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="col-sm-4 order-sm-1">
                <img src="{% static 'images/blog.jpg' %}" class="img-fluid rounded" alt="blog" style="height: 100%;">
            </div>
            <div class="col-sm-8 order-sm-0">
                <div class="card-body justify-content-center align-items-center row text-center" style="height: 100%;">
                    <h2 class="card-title homepage-title">Express your feelings</h2>
                    <p class="card-text align-self-start">Did you like our product? Should everyone know how excellent
                        our service is? Post your thoughts in our blog. We are improving our services based on the
                        feedback we receive.
                    </p>
                    <a href="{% url 'blog' %}" class="btn btn-primary" style="max-width: 150px;">Visit our
                        blog</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}