{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Booking.html starts here -->
<div class="container-lg">
    <div class="row text-center">
        <h2>Booking</h2>
    </div>
    <!-- Booking History -->
    <div class="row">
        <div class="row">
            {% if user.is_staff %}
            <h3>Booking List</h3>
            {% else %}
            <h3>Your Booking History</h3>
            {% endif %}
        </div>
        <div class="row booking-history ms-2 mb-2">
            <!-- Booking History Head -->
            <div class="row booking-history-heading rounded-top py-1">
                <div class="col-3 booking-history-head">
                    <p class="booking-history-head"><a href="?order={{ new_order_date }}">Date</a></p>
                </div>
                <div class="col-3 booking-history-head">
                    <p class="booking-history-head"><a href="?order={{ new_order_time }}">Time</a></p>
                </div>
                <div class="col-3 booking-history-head">
                    <p class="booking-history-head"><a href="?order={{ new_order_guests }}">Guests</a></p>
                </div>
                <div class="col-3 booking-history-head">
                    <p class="booking-history-head"><a href="?order={{ new_order_status }}">Status</a></p>
                </div>
            </div>
            <!-- Booking History Body -->
            <div class="row booking-history-body rounded-bottom">
                {% if paginated_list %}
                {% for reservation in paginated_list %}
                <div class="col-3 booking-history-data py-1">
                    <p class="booking-history-data">{{ reservation.requested_date|date:"d.m.y" }}</p>
                </div>
                <div class="col-3 booking-history-data py-1">
                    <p class="booking-history-data">{{ reservation.requested_time }}</p>
                </div>
                <div class="col-3 booking-history-data py-1">
                    <p class="booking-history-data">{{ reservation.guests }}</p>
                </div>
                <div class="col-3 booking-history-data py-1">
                    <p class="booking-history-data">{{ reservation.status }}</p>
                </div>
                {% endfor %}
                {% else %}
                <div class="row booking-history-body rounded-bottom align-items-start">
                    <p class="pt-1">You didn't book any table yet</p>
                </div>
                {% endif %}
            </div>
            <!-- Booking History Navigation -->
            <div class="row mt-1">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if paginated_list.has_previous %}
                        <li>
                            <a href="?page={{ paginated_list.previous_page_number }}"
                                class="page-link rounded-circle booking-prev-button">
                                <i class="fa-solid fa-arrow-left"></i><span hidden>Left</span></a>
                        </li>
                        {% endif %} {% if paginated_list.has_next %}
                        <li>
                            <a href="?page={{ paginated_list.next_page_number }}"
                                class="page-link rounded-circle booking-next-button">
                                <i class="fa-solid fa-arrow-right"></i><span hidden>Right</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Book a Table -->
    <div class="row">
        <h3>Book a Table</h3>
    </div>
    <div class="row mb-2">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

{% endblock %}