.vollkorn-font {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #3c2f2f;
}

.home-nav-foot {
  background-color: #be9b7b;
}

.home-bg-color {
  background-color: #fff4e6;
}

.nav-link {
  color: #3c2f2f;
}

.active {
  font-weight: 500;
}

.footer-text {
  color: #4b3832;
}

.footer-text > a {
  color: inherit;
  text-decoration: none;
}

.company-name {
  font-size: 24px;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
}

.homepage-title {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.about-contact > li {
  text-decoration: none;
}

.about-social-media {
  font-size: 28px;
}

.blog-card {
  background-color: #3c2f2f;
  color: #fff4e6;
  padding: 0;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
