/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

.vollkorn-font {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #3c2f2f;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.oswald-400 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Navbar and Footer */

.home-nav-foot {
  background-color: #be9b7b;
}

.home-bg-color {
  background-color: #fff4e6;
}

.nav-link {
  color: #3c2f2f;
}

.active {
  font-weight: 500;
}

.footer-text {
  color: #4b3832;
}

.footer-text > a {
  color: inherit;
  text-decoration: none;
}

.company-name {
  font-size: 24px;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
}

.homepage-title {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.about-contact > li {
  text-decoration: none;
}

.about-social-media {
  font-size: 28px;
}

/* Signup And Login */
.errorlist {
  list-style: none;
  background-color: #fff4e6;
  color: rgb(236, 34, 34);
  padding-left: 0;
  border: none;
}

.errorlist > .list-group-item {
  background-color: inherit;
  border: none;
}

.signup > ul {
  list-style: circle;
  padding-left: 1rem;
  color: rgb(15, 68, 88);
}

/* About Page Carousel */
.carousel-card {
  margin: auto;
  font-weight: 500;
  padding-bottom: 2rem;
}

/* Booking page history */
.booking-history {
  width: 100%;
}

.booking-history-heading {
  background-color: 	#3c2f2f;
  color: #fff4e6;
  width: 100%;
}

.booking-history-body {
  background-color: #4b3832;
  color: #fff4e6;
  width: 100%
}

.booking-history-head {
  padding: 0;
}

.booking-history-head > a{
  text-decoration: none;
  color: inherit;
}

.booking-history-data {
  padding: 0;
}

.booking-prev-button, .booking-next-button {
  background-color: #3c2f2f;
  color: #fff4e6;
}

.booking-prev-button:hover, .booking-next-button:hover {
  background-color: #be9b7b;
  color: #4b3832;
}

/* Blog */

.blog-posts {
  background-color: #be9b7b;
  color:#4b3832;
}

.create-post-button {
  background-color:#854442;
  color: #fff4e6;
}

.post-info {
  font-size: 14px;
  color: #3c2f2f;
}

.post-link {
  text-decoration: none;
  color:inherit;
}

.post-details {
  font-size: 1rem;
  color: aqua;
}

.post-title {
  color:#854442 ;
}

.owners-post {
  background-color: 	#854442;
  color: #fff4e6;
}


.post-details-bg {
  background-color: 	#3c2f2f;
}

.comments {
  background-color: #be9b7b;
}

.comment-header {
  color: #fff4e6;
}

.comment-author, .comment-body {
  font-size: 1rem;
}

.comment-form > p > label {
  display: none;
}

.comment-form > p > textarea, .comment-form > p > textarea:focus  {
  background-color: #be9b7b;
  border: 0px;
}

/* Shop */
.monthly-discounts-link {
  text-decoration: none;
  color: red;
}

.carousel-info-card {
  color: black;
  padding: 0;
  bottom: 0rem;
}

.shop-header {
  text-decoration: none;
  color:blue;
  width: fit-content;
}

.product-card {
  width: 100%;
}

.product-card-info {
  text-decoration: none;
  color: #3c2f2f;
}

.product-card-price {
  color: #854442;
  font-size: 20px;
}

.product-info-background {
  background-color:#f1efed;
  color:#3c2f2f;
}



/* SM Breakpoint */
@media (min-width: 576px) {
  #most-sellers-slider {
     display: none;
   }
  #latest-products-slider {
    display: none;
  }
  .product-card {
    width: 32%;
  }
}

/* MD Breakpoint */
@media (max-width: 576px) {
  #most-sellers {
     display: none;
   }
  #latest-products {
    display: none;
  }
}

/* LG Breakpoint */
@media (min-width: 769px) {
  .product-card {
    width: 23%;
  }
}

/* XL Breakpoint */
@media (min-width: 993px) {
  .product-card {
    width: 19%;
  }
}