.company-logo {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #3c4955;
}

.nav-link {
  color: #3c4955;
}

.active {
  font-weight: 500;
}
