{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-sm-6 masthead-text justify-content-between w-100 post-owner">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-head">


      </div>
      <div class="card-body">
        <h3 class="card-title post-details">{{ post.author }} | {{ post.created_at|naturaltime }}</h3>
        <!-- The post content goes inside the card-text. -->
        <!-- Use the | safe filter inside the template tags -->
        <p class="card-text">{{ post.content | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% for comment in comments %}

<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <!-- The post content goes inside the card-text. -->
        <!-- Use the | safe filter inside the template tags -->
        <p class="card-text">{{ comment.body | safe }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}