{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- posts.html content starts here -->
<div class="container-lg">
  <div class="row">
    <div class="input-group mb-3 mt-1">
      <input type="text" class="form-control border-0 bg-body-secondary rounded" placeholder="Search Post"
        aria-label="Search Post" aria-describedby="button-addon2">
      <button class="btn btn-outline-success rounded-circle border-0" type="button" id="button-addon2"><i
          class="fa-solid fa-circle-right"></i></button>
    </div>
  </div>

  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
      <div class="row">

        <div class="card col-sm-4 blog-card mb-2">
          <img src="{% static 'images/blog.jpg' %}" class="card-img-top" alt="Restaurant Feedback">
          <div class="card-body">
            <h5 class="card-title blog-card-title">Card title</h5>
            <p class="card-text blog-card-text">This is a wider card with supporting text below as a natural lead-in to
              additional
              content. This content is a little bit longer.</p>
            <p class="card-text blog-card-lastupdate" maxlength="100" max><small>Last updated 3 mins ago</small></p>
          </div>
        </div>
        {% for post in post_list %}
        <div class="card col-sm-4 blog-card mb-2 me-2">
          <div
            class="card-header d-flex justify-content-between align-baseline align-items-center py-2 blog-card-header ">
            <p class="card-text blog-card-author mb-0"><small>Category : {{ post.get_category_display }}</small></p>
            <p class="card-text blog-card-author"><small>Last comment : {{ post.updated_at | naturaltime }}</small></p>
          </div>
          <img src="{% static 'images/blog.jpg' %}" class="card-img-top" alt="Restaurant Feedback">
          <div class="card-body">
            <h5 class="card-title blog-card-title">{{ post.title }}</h5>
            <p class="card-text blog-card-text">{{ post.content | safe }}</p>
            <p class="card-text blog-card-author"><small>Author: {{ post.author }}</small></p>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card col-sm-4 blog-card mb-2">
            <div class="card-body">
              <div class="image-container">
                <div class="image-flash">
                  <p class="author">Author: {{ post.author }}</p>
                </div>
              </div>
              <a href="{% url 'post_detail' post.id %}" class="post-link">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card_text">{{ post.content | safe }}</p>
              </a>

              <hr />
              <p class="card-text text-muted h6">{{ post.created_on}}</p>
            </div>
          </div>
        </div> -->
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
          &laquo; PREV</a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          NEXT &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
</div>



<!-- index.html content ends here -->
{% endblock %} {% block copyright %} Copyright 2023 Matt Rudge {% endblock %}