{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-lg mt-2 mb-2 align-items-center titles-container">
    <div class="row mx-auto gap-1">
        {% for title in titles %}
        <div class="card col-sm rounded p-0 title-card">
            <a href="{% url 'discounts' %}" class="title-name"><img src="{{ title.image.url }}"
                    class="card-img-top rounded-top title-image" alt="{{ title.name }}"></a>

            <div class="card-body">
                <p class="card-text"><a href="{% url 'discounts' %}" class="title-name">{{ title.name }}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}