{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-lg">
    <div class="row">
        <h3>Edit Post</h3>
    </div>
    <div class="row mb-2">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form method="post" style="margin-top: 20px;">
            {% csrf_token %}
            <div class="d-flex gap-3 align-items-center">
                <button type="submit" class="btn btn-outline-danger" name="delete">Delete</button>
                <p class="delete-post-msg mb-0"><i class="fa-solid fa-triangle-exclamation"></i> This action can't be undone!</p>
            </div>
        </form>
    </div>
</div>

{% endblock %}