{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-lg py-2">
    <h2 class="text-center abril-fatface-regular">ALL PRODUCTS</h2>
    <div class="row g-2 align-items-center mt-2">
        <!-- Filter -->
        <div>

        </div>
    </div>
    <!-- Products Order and Filter -->
    <div class="row align-items-center my-2">
        <form method="get" class="d-flex gap-3 flex-wrap">
            <!-- Filter -->
            <div>
                <label for="{{ form.filter_options.id_for_label }}" class="form-label align-self-end">Filter</label>
                <select name="{{ form.filter_options.name }}" id="{{ form.filter_options.id_for_label }}" class="form-select-sm">
                    {% for value, label in form.filter_options.field.choices %}
                    <option value="{{ value }}" {% if form.filter_options.value == value %} selected {% endif %}>
                        {{label}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Order -->
            <div>
                <label for="{{ form.order_options.id_for_label }}" class="form-label align-self-end">Order By</label>
                <select name="{{ form.order_options.name }}" id="{{ form.order_options.id_for_label }}" class="form-select-sm">
                    {% for value, label in form.order_options.field.choices %}
                    <option value="{{ value }}" {% if form.order_options.value == value %} selected {% endif %}>
                        {{label}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="filter-button">Apply</button>
        </form>
    </div>
    <div class="row mx-auto row-gap-1">
        {% for product in all_products %}
        <div class="card mx-1 px-0 product-card">
            <a href="{% url 'product_detail' id=product.id %}" class="h-100"><img src="{{ product.image.url }}"
                    class="card-img-top" alt="{{product.name}}"></a>

            <div class="card-body product-info-background h-100">
                <a href="{% url 'product_detail' product.id}" class="product-card-info">
                    <h5 class="card-title product-card-name">{{ product.name }}</h5>
                </a>
                <h6 class="card-text product-card-price pt-sans-bold">{{ product.price }} €</h6>
            </div>

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}