{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-lg">
    <div class="row my-2">
        <h2>My Cart</h2>
    </div>
    <div class="cart col-12">
        <div class="d-flex justify-content-between align-items-end border-bottom w-100">
            <p class="col-4">Product</p>
            <p class="col-4">Quantity</p>
            <p class="col-4">Price(Each)</p>
        </div>
        <div class="cart-products">
            {% for product in products %}
            <div class="row col-12">
                <p class="col-4">{{ product.name }}</p>
                <p class="col-4">{{ product.quantity }}</p>
                <p class="col-4">{{ product.price}}</p>
            </div>
            {% endfor %}

        </div>
    </div>
    
</div>


{% endblock %}