{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-lg">
    <div class="row my-2">
        <h2 class="cart-header">My Cart</h2>
    </div>
    <!-- Cart -->
    <div class="cart col-12 mb-2">
        <div class="d-flex justify-content-between align-items-end w-100 cart-titles px-2">
            <p class="col-3">Product</p>
            <p class="col-3 text-center">Quantity</p>
            <p class="col-3 text-center">Price</p>
            <p class="col-3 text-end">Total</p>
        </div>
        <div class="px-2 w-100">
            {% if cart_item %}
            {% for item in cart_item %}
            <div class="cart-products row align-items-center border-top py-2">
                
                <a class="col-3">{{ item.product.name }}</a>
                <a class="col-3 text-center">{{ item.quantity }}</a>
                <a class="col-3 text-center">{{ item.product.price}} €</a>
                <a class="col-3 text-end">{{ item.get_cost }} €</a>   
            </div>
            {% endfor %}
            {% else %}
            <h4>There is no product in cart.</h4>
            {% endif %}
        </div>
    </div>
    <!-- Total -->
    {% if cart_item %}
    <div class="d-flex flex-row-reverse">
        <p class="border-top">Total : {{ cart.get_total_cost }} €</p>
    </div>
    {% endif %}
</div>


{% endblock %}