{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-lg py-2">
    <div class="row">
        <h5 class="product-category mb-3">Category : {{ product.get_category_display }}</h5>

        <div class="row w-100 p-0 mx-auto">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="row w-100">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <h4 class="product-price">{{ product.price }} €</h4>

            <div class="row">
                <p class="quantity-info">You can specify the quantity you wish to purchase in your shopping cart.</p>
                <form action="{% url 'product_detail' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mt-1 rounded-pill add-cart-button">Add to Cart</button>
                </form>
            </div>


        </div>
    </div>
</div>

{% endblock %}