{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-lg">
    <h2 class="text-center"><a href="#" class="monthly-discounts-link">Check Discounts</a></h2>
    <h3>Today's Special</h3>
    <div id="most-sellers-slider" class="row">
        <div id="most-sellers-carousel" class="carousel slide">
            <div class="carousel-inner">
                {% for most_seller in most_sellers %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <img src="{{ most_seller.image.url }}" class="d-block w-100" alt="{{ most_seller.name }}">
                    <div class="carousel-caption d-md-block carousel-info-card mx-auto">
                        <h5><span class="carousel-name">{{ most_seller.name }}</span></h5>
                        <p><span class="carousel-price">{{ most_seller.price }} €</span></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#most-sellers-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#most-sellers-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row mx-1" id="most-sellers">
        {% for product in products %}
        <div class="card col-sm-4 col-lg-2">
            <img src="{{ product.image.url  }}" class="card-img-top" alt="{[product.name]}">
            <div class="card-body">
                <h5 class="card-title product-card-name">{{ product.name }}</h5>
                <p class="card-text product-card-price">{{ product.price }} €</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}