{% extends "base.html" %}
{% load static %}
{% load form_tags %}
{% block content %}

<div class="container-lg text-center">
    <!-- Title -->
    <div class="card mb-2 mt-1 home-bg-color border-0">
        <div class="row g-0">
            <div class="card-body" style="height: 100%;">
                <h2 class="card-title">Welcome to Anatolian Bistro & Market</h2>
                <p class="card-text align-self-start">At Anatolian Bistro & Market, we invite you to embark on a
                    culinary journey through the rich and diverse flavors of Anatolia. Our mission is to bring the
                    authentic taste of Turkish cuisine to your table, offering a delightful blend of tradition and
                    innovation in every dish.
                </p>
            </div>
        </div>
    </div>
    <!-- Story and Commitment Carousel -->
    <div class="row">
        <div id="story_commitment" class="carousel slide" data-bs-interval="5000" data-bs-touch="true"
        data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#story_commitment" data-bs-slide-to="0"
                    class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#story_commitment" data-bs-slide-to="1" class="bg-secondary"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#story_commitment" data-bs-slide-to="2" class="bg-secondary"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-card">
                        <h3>Our Story</h3>
                        <p>Inspired by the vibrant culture and exquisite cuisine of Anatolia, we opened
                            our
                            doors with a passion for sharing the unique culinary heritage of Turkey. Our founders,
                            deeply
                            rooted
                            in Turkish traditions, wanted to create a place where the community could experience the
                            warmth
                            and
                            hospitality that Turkish culture is known for. From our humble beginnings, we have grown
                            into a
                            beloved local spot where friends and family gather to enjoy delicious food and good company.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-card">
                        <h3>Our Commitment</h3>
                        <p>We are dedicated to providing an exceptional dining and
                            shopping
                            experience for our customers. Our team is passionate about food, culture, and community, and
                            we
                            strive to create an environment where everyone feels welcome. We take pride in sourcing the
                            highest
                            quality ingredients and supporting local producers whenever possible.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#story_commitment" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#story_commitment" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Bistro, Market and Blog Carousel -->
    <div class="row">
        <div id="the_bmb" class="carousel slide" data-bs-interval="5000" data-bs-touch="true"
        data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#the_bmb" data-bs-slide-to="0" class="active bg-secondary"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#the_bmb" data-bs-slide-to="1" class="bg-secondary"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#the_bmb" data-bs-slide-to="2" class="bg-secondary"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-card">
                        <h4>The Bistro Experience</h4>
                        <p>Our bistro offers a cozy and inviting atmosphere, perfect for
                            enjoying a leisurely meal with loved ones. Our menu features a wide array of traditional
                            Turkish
                            dishes, each prepared with the freshest ingredients and a modern twist. Whether you’re
                            craving
                            succulent kebabs, savory mezes, or our famous baklava, every bite is a celebration of
                            Anatolian
                            flavors.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-card">
                        <h4>The Market</h4>
                        <p>In addition to our bistro, our market is stocked with a variety of authentic Turkish
                            products. From spices and herbs to olive oils and sweets, we provide everything you need to
                            recreate the magic of Turkish cuisine at home. Our selection also includes handcrafted goods
                            and unique gifts that reflect the rich cultural heritage of Anatolia.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-card">
                        <h4>The Blog</h4>
                        <p>Our blog is a platform where our customers can freely express their opinions about our
                            products and services.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#the_bmb" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#the_bmb" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Contact -->
    <div class="row g-0">
        <div class="card mb-2 mt-1 home-bg-color border-0 col-sm-6">
            <!-- Contact Form -->
            <div class="row g-0">
                <div class="card-body" style="height: 100%;">
                    <h2 class="card-title">Contact Us</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group d-flex align-items-end mb-1">
                            <label class="fs-3 me-1" for="{{ form.name.id_for_label }}">Name:</label>
                            {{ form.name|add_class:"form-control" }}
                            {% if form.name.errors %}
                            <div class="invalid-feedback">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group d-flex align-items-end">
                            <label class="fs-3 me-1" for="{{ form.email.id_for_label }}">Email:</label>
                            {{ form.email|add_class:"form-control" }}
                            {% if form.email.errors %}
                            <div class="invalid-feedback">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group align-items-end text-start mb-1">
                            <label class="fs-3" for="{{ form.message.id_for_label }}">Message:</label>
                            {{ form.message|add_class:"form-control" }}
                            {% if form.message.errors %}
                            <div class="invalid-feedback">{{ form.message.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group text-end">
                            <button type="submit" class="btn btn-outline-dark">Send</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <!-- Map, Address -->
        <div class="card mb-2 mt-1 home-bg-color border-0 col-sm-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4979.510904191685!2d7.761244230295814!3d51.38917245120672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b94229425c2c51%3A0xe26d4e513388be4b!2sSide%20D%C3%B6ner!5e0!3m2!1str!2sde!4v1717602168294!5m2!1str!2sde"
                height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="card-text">
                <strong>Address</strong>: Flower Street 14, 58675 Hemer - Germany
                <br>
                Phone: +49 12345672415
                <br>
            </p>
            <p><strong>Work hours</strong>: Everyday 14.00 - 24.00</p>
        </div>
    </div>
</div>
    {% endblock %}